<?xml version="1.0"?>
<!-- Ember_Robot_Sim 1.0                                 -->
<!-- ################################################    -->
<!-- URDF DESCRIPTION OF THE EMBER BOT                   -->
<!-- Author: Maison Gulyas | (250) 258 - 1736            -->
<!-- ################################################    -->
<!-- This URDF will be four a quadropod Robot with a LiDAR 
    attatched to the front, this LiDAR can be used in both
    2D and 3D modes.
-->
<!-- ################################################    -->
<!-- Robot Part Names: 
Tracks:
    * trackL1 (Left front track)    <Rectangular>
    * trackL2 (Left back track)     <Rectangular>
    * trackR1 (Right front track)   <Rectangular>
    * trackR2 (Right back track)    <Rectangular>
Body:
    * body <Rectangular>
LiDAR:
    * LiDAR <Cylindar>
-->
<!-- Shape Geometry  
Rectangle: (for track add "track_" to fron, so for body add "body_" etc)
    * rect_length
    * rect_width
    * rect_height
    * rect_mass
Cylindar
    * LiDAR_radius 
    * LiDAR_length
    * LiDAR_mass
 -->

<!-- ################################################    -->
<!-- TODO: When completed -->
<!-- <robot name="ember_bot" xmlns:xacro="http://www.ros.org/wiki/xacro"> -->

<!-- ################################################    -->
<!--            Geometry & Constants                     -->
<!--            MARK: G & C                              -->
<!-- ################################################    -->

<!-- ################################################    -->
<!--                  Mass & Inertia                     -->
<!--                  MARK: M & I                        -->
<!-- ################################################    -->

<!-- Densities -->

<!-- Masses -->

<!-- Body inertia -->

<!-- Track inertia -->

<!-- Inertia macros -->

<!-- ################################################ -->
<!--            Include Additional Files              -->
<!--            MARK: File Incl.                      -->
<!-- ################################################ -->

<!-- <xacro:include filename="$(find ember_robot)/model/robot.gazebo"/> -->

<!-- ################################################ -->
<!-- MARK: LINKS, JOINTS HERE                        -->
<!-- ################################################ -->


<!-- ################################################ -->
<!-- START: Fictitious Link of the Robot              -->
<!-- ################################################ -->

<!-- ################################################ -->
<!-- END: Fictitious Link of the Robot                -->
<!-- ################################################ -->

<!-- ################################################ -->
<!-- START: Body Link of the Robot                    -->
<!-- ################################################ -->

<!-- ################################################ -->
<!-- END: Body Link of the Robot                      -->
<!-- ################################################ -->

<!-- ################################################  -->
<!-- START: Front Left Track of the Robot + Joint      -->
<!-- ################################################  -->

<!-- ################################################  -->
<!-- END: Front Left Track                             -->
<!-- ################################################  -->

<!-- ################################################  -->
<!-- START: Front Right Track of the Robot + Joint     -->
<!-- ################################################  -->

<!-- ################################################  -->
<!-- END: Front Right Track                            -->
<!-- ################################################  -->

<!-- ################################################  -->
<!-- START: Back Left Track of the Robot + Joint       -->
<!-- ################################################  -->

<!-- ################################################  -->
<!-- END: Back Left Track                              -->
<!-- ################################################  -->

<!-- ################################################  -->
<!-- START: Back Right Track of the Robot + Joint       -->
<!-- ################################################  -->

<!-- ################################################  -->
<!-- END: Back Right Track                              -->
<!-- ################################################  -->

<!-- ################################################  -->
<!-- START:Tank Track                                -->
<!-- ################################################  -->

<!-- ################################################  -->
<!-- END:Tank Track                                  -->
<!-- ################################################  -->

<!-- ################################################  -->
<!-- START: LiDAR                                       -->
<!-- ################################################  -->

<!-- ################################################  -->
<!-- END: LiDAR                                         -->
<!-- ################################################  -->

<!-- TODO: When completed  -->
<!-- </robot> -->